.flex-row {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  // :hover {
  //   background-color: rgb(245, 243, 243);
  // }
}

kendo-card {
  position: relative;
  margin: 10px;
  align-items: center;
  z-index: 2;
  :hover {
    background-color: rgb(245, 243, 243);
  }
}

kendo-card-header {
  border: none;
  margin: 0px 0px;
  padding: 30px;
  h1 {
    margin: 0;
  }
}

.delete-btn {
  position: absolute;
  right: 5px;
  top: 5px;
  z-index: 1;
}
