.flex-row {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  :hover {
    background-color: rgb(245, 243, 243);
  }
}

kendo-card {
  margin: 10px;
  align-items: center;
  :hover {
    background-color: inherit;
  }
}
